.chatStyle
{
    padding-top: 64px !important;
}

.card {
    background: #fff;
    transition: .5s;
    border: 0;
    /*margin-bottom: 30px;*/
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}


.chat-app .chat {
    overflow-y: scroll;
    max-height:682px;
    background: darkslateblue;
}


.chat .chat-header {
    padding: 9px 20px;
    border-bottom: 2px solid #f4f7f6;
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 0px 2px 14px 0px #0000005c;
    z-index: 9;
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding-top: 22px;
    padding-left: 10px;
    background: darkslateblue;
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 30px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 6px 19px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    margin-top: -12px;
    max-width: 70%;
    /*position: relative*/
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: grey
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef;
    min-width: 263px;
}

.people-list {
    max-height: 803px;
    overflow-y: scroll;
    overflow-x: hidden;
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}


.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat-header clearfix {
    overflow-y: scroll;

}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    max-width: 70%;
    margin-right: 10px;
    padding: 6px 19px;
    line-height: 26px;
    display: inline-block;
    min-width: 263px;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
}


.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}


.msgTime {
    font-size: 12px;
    left: 100%;
}
@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none;

    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0;
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}

.form-control:focus {
    border-color: #ced4db;
    box-shadow: none;
}
.input-group-prepend{
    justify-content: space-between;
    display: flex;
    @apply col-sm-2
}

#users{
    border-radius: 0;
}


.msgs {
    right: 0;
    margin-top: -32px;
    position: sticky;
    background-color: grey;
    padding: 5px;
    border-radius: 3px;
    color: white;
    margin-left: 182px;
    font-size: 10px;
}

.tabcontent {
    display: none;
}

.form-control {
    display: inline-block;
}

.chatImage{
    width: 230px;
    padding: 20px;
}

.jumbotron .btn {
    color:#FFFFFF;
    padding: 5px !important;
    font-size: 12px !important;
    margin-left:20px;
}
.jumbotron label {
    font-size:12px;
}

.img-user{
    width:50px;
    margin-right:20px;
}


.user-item img  {
    display:inline-block;
}

.user-item {
    display: flex;
    cursor: pointer;
    justify-content: start;
}

.searchName {
    display: inline-block;
    text-align: left;
}
/*#seenTick0 {*/
/*    color: #808080a6;*/
/*}*/
